@font-face {
    font-family: 'Melancoline';
    src: url('Melancoline.woff2') format('woff2'),
        url('Melancoline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

